#maze-menu {
    padding: 20px 0 0 0;

    .maze-meter {
        opacity: 1;
        display: inline;
        padding: 5px;
        width: 0 !important;
    }

    .maze-meter:hover {
        cursor: default;
    }

    .dropdown-menu {
        font-size: 12px;
    }

    .form-inline {
        text-align: center;
    }

    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
    }

    // Space between controls when wrapped at sm screen sizes.
    @media(max-width: 991px) {
        .btn-default {
            margin-bottom: 10px;
        }
    }
}

#text-maze {
    // The top margin of the maze is set with JS.
    margin: auto;
    display: block;   
}
